<!DOCTYPE html>
<html>
{% extends 'myApp/parent.html'%}
  <body>
    {% block for_child %}
    <h1 align="center" style="color:green">Updation Form</h1>
    <form method="post" align=center>

      Eno : <input type="text" name="eno" value="{{emp.eno}}"><br><br>
      Ename : <input type="text" name="ename" value="{{emp.ename}}"><br><br>
      Esal : <input type="text" name="esal" value="{{emp.esal}}"><br><br>
      EAddr : <input type="text" name="eaddr" value="{{emp.eaddr}}"><br><br>
      {%csrf_token%}
      <input type="submit" class="btn btn-lg btn-primary" value="Submit">
    </form>
    {% endblock %}
  </body>
</html>
